@media screen and (min-width:576px) {

    /* clases especiales */
    /* ! */
    .band-blue {
        transform: translateY(275px);
    }

    .title-galery {
        transform: translateY(185px);
    }

    .grilla .text-galery:hover .opacity-0 {
        opacity: 1;
        transform: translateY(247px);
    }

    .grilla .text-galery:hover .band-blue {
        opacity: 1;
        transform: translateY(260px);
    }
}

@media screen and (min-width:768px) {

    /* height */

    .min-md-vh-172 {
        min-height: 172vh;
    }

    .min-md-vh-247 {
        min-height: 247vh;
    }

    .min-md-vh-334 {
        min-height: 334vh;
    }


    /* clases especiales */
    /* ! */
    .title-galery {
        transform: translateY(165px);
    }

    .band-blue {
        transform: translateY(238px);
    }

    .grilla .text-galery:hover .opacity-0 {
        opacity: 1;
        transform: translateY(216px);
    }

    .grilla .text-galery:hover .band-blue {
        opacity: 1;
        transform: translateY(220px);
    }

    .bg-md-bottom {
        background-position: bottom;
    }

    .bg-md-left {
        background-position: left;
    }
}

@media screen and (min-width:992px) {

    /* *componente especial */
    .menu {
        /* transform: translateX(100%); */
        transition: .5s all;
        background: #fff;
        top: 0;
        left: 0;
        /* width: 35%; */
        height: 100%;
        /* display: block; */
        position: static;
        transform: translateX(0);
    }

    .menu.menu-active {
        transform: translateX(0);
    }

    /* height */
    .min-lg-vh-180 {
        min-height: 180vh
    }

    .min-lg-vh-250 {
        min-height: 250vh;
    }

    .min-lg-vh-313 {
        min-height: 313vh;
    }

    /* width */
    .w-lg-280p {
        width: 280px;
    }

    /* clases especiales */
    /* ! */
    .title-galery {
        transform: translateY(140px);
    }

    .band-blue {
        transform: translateY(230px);
    }

    .grilla .text-galery:hover .opacity-0 {
        opacity: 1;
        transform: translateY(207px);
    }

    .grilla .text-galery:hover .band-blue {
        opacity: 1;
        transform: translateY(210px);
    }
}

@media screen and (min-width:1200px) {

    /* width */
    .w-xl-212 {
        width: 212px;
    }

    .w-xl-500p {
        width: 500px;
    }


    /* height */
    .h-xl-434 {
        height: 434px;
    }

    .min-xl-vh-100 {
        min-height: 100vh;
    }

    .min-xl-vh-115 {
        min-height: 125vh !important;
    }

    .min-xl-vh-260 {
        min-height: 260vh;
    }

    .min-xl-vh-210 {
        min-height: 210vh;
    }

    .min-xl-vh-170 {
        min-height: 200vh;
    }

    .h-xl-270vh {
        height: 270vh;
    }

    /* clases especiales */
    .title-galery {
        transform: translateY(130px);
    }

    .band-blue {
        transform: translateY(195px);
    }

    .grilla .text-galery:hover .opacity-0 {
        opacity: 1;
        transform: translateY(165px);
    }

    .grilla .text-galery:hover .band-blue {
        opacity: 1;
        transform: translateY(182px);
    }
}